

<div class="flex w-full h-screen">
    <div class="mx-auto mt-20">
        <div class="border-4 border-golden max-h-fit w-96 rounded-3xl ">
            <div><img class="p-6 rounded-full" src="../../assets/img/navlogo.png"></div>

            <div class="flex flex-col items-center justify-center mt-2">
                <!-- <div class="mx-auto my-2">
                    <label class="text-gray-800" for="firstname">First Name :</label>
                    <input class="ml-2 border-2 rounded-md border-golden hover:border-amber-400" type="text" id="firstname" name="firstname" [(ngModel)]="firstname">
                </div>
                <div class="mx-auto my-2">
                    <label class="text-gray-800" for="lastname">Last Name :</label>
                    <input class="ml-2 border-2 rounded-md border-golden hover:border-amber-400" type="text" id="lastname" name="lastname" [(ngModel)]="lastname">
                </div>
                <div class="mx-auto my-2">
                    <label class="text-gray-800" for="title">Select Gender:</label>
                        <input class="ml-2 border-2 rounded-md border-golden hover:border-amber-400" type="radio" id="titleMr" name="title" [(ngModel)]="selectedTitle" value="Mr.">
                        <label for="titleMr">Mr.</label>
                        <input class="ml-2 border-2 rounded-md border-golden hover:border-amber-400" type="radio" id="titleMrs" name="title" [(ngModel)]="selectedTitle" value="Mrs.">
                        <label for="titleMrs">Mrs.</label>
                        <input class="ml-2 border-2 rounded-md border-golden hover:border-amber-400" type="radio" id="titleMiss" name="title" [(ngModel)]="selectedTitle" value="Miss">
                        <label for="titleMiss">Miss</label>
                        <input class="ml-2 border-2 rounded-md border-golden hover:border-amber-400" type="radio" id="titleDr" name="title" [(ngModel)]="selectedTitle" value="Dr.">
                        <label for="titleDr">Dr.</label>
                </div>
                <div class="mx-auto my-2">
                    <label class="text-gray-800" for="mobile">Mobile :</label>
                    <input class="ml-2 border-2 rounded-md border-golden hover:border-amber-400" type="text" id="mobile" name="mobile" [(ngModel)]="mobile">
                </div> -->
                <div class="mx-auto my-2">
                    <label class="text-gray-800" for="email">Email :</label>
                    <input class="ml-2 border-2 rounded-md border-golden hover:border-amber-400" type="email" id="email" name="email" [(ngModel)]="email">
                </div>
                <!-- <div class="mx-auto my-auto">
                    <label class="text-gray-800" for="address">Address :</label>
                    <textarea class="ml-2 border-2 rounded-md border-golden hover:border-amber-400" type="text" id="address" name="address" [(ngModel)]="address"></textarea> 
                </div>-->
                <div class="mx-auto my-3">
                    <label class="text-gray-800" for="password">Password :</label>
                    <input class="ml-2 border-2 rounded-md border-golden hover:border-amber-400" type="password" id="password" [(ngModel)]="password">
                </div>
                <!-- <div class="mx-auto my-3">
                    <label class="text-gray-800" for="confirmPassword">Confirm Password :</label>
                    <input class="ml-2 border-2 rounded-md border-golden hover:border-amber-400" type="password" id="confirmPassword" [(ngModel)]="confirmPassword">
                </div> -->
                <div class="flex flex-row w-full h-fit my-5">
                    <div class="ml-4 w-full text-blue-600 basis-9/12"><label class="cursor-pointer" for="passwordreset" (click)="login()">Already have an account?</label></div>
                    <div class="mx-10"><button type="button" class="px-4 py-2 text-sm font-medium text-center text-white rounded-lg bg-golden focus:ring-amber-300 basis-3/12" (click)="register(email,password)">register</button></div>
                </div>
                
                
                        
            </div>

        </div>
    </div>
</div>
