<div class="m-1">
    <div class="w-screen h-screen ">

        <div class="w-full bg-slate-400 h-fit mt-1">
            <div class="flex justify-between w-full h-10 p-6 mx-3 my-auto">
                <h2 class="font-serif text-3xl">SHIRTS</h2>
                <button class="mr-10 text-blue-600" (click)="navigateToShirt()">Show more ></button>
            </div>
            <div class="flex flex-wrap items-stretch justify-start w-full gap-5 p-5 mx-10 h-fit">
                <div *ngFor="let product of shirts; let i = index">
                    <div class="product-card" *ngIf="i < 4">
                        <div class="p-3 bg-white rounded-2xl">
                            <img class="rounded-lg w-52 h-60" [src]="product.image" alt="{{ product.name }}">
                            <div class="mt-2 text-center">
                                {{ product.name }}<br>
                                {{ product.price | currency:'INR' }}<br>
                                <!-- <button
                                    class="w-full h-8 text-gray-700 bg-blue-600 rounded-lg hover:text-blue-600 hover:bg-gray-700"
                                    (click)="ViewDetails()">View Details</button> -->
                                <button
                                    class="w-full h-8 text-gray-700 bg-blue-600 rounded-lg hover:text-blue-600 hover:bg-gray-700 mt-2"
                                    (click)="addToCart(product)">
                                    Add to Cart
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-white h-1 min-w-full"></div>

            <div class="w-full bg-slate-400 h-fit ">
                <div class="flex justify-between w-full h-10 p-6 mx-3 my-auto">
                    <h2 class="font-serif text-3xl">MOBILES</h2>
                    <button class="mr-10 text-blue-600" (click)="navigateToMobile()">Show more ></button>
                </div>
                <div class="flex flex-wrap items-stretch justify-start w-full gap-5 p-5 mx-10 h-fit">
                    <div *ngFor="let product of mobiles; let i = index">
                        <div class="product-card" *ngIf="i < 4">
                            <div class="p-3 bg-white rounded-2xl">
                                <img class="rounded-lg w-52 h-60" [src]="product.image" alt="{{ product.name }}">
                                <div class="mt-2 text-center">
                                    {{ product.name }}<br>
                                    {{ product.price | currency:'INR' }}<br>
                                    <button
                                        class="w-full h-8 text-gray-700 bg-blue-600 rounded-lg hover:text-blue-600 hover:bg-gray-700"
                                        (click)="addToCart(product)">
                                        Add to Cart
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bg-white h-1 min-w-full"></div>

                <div class="w-full bg-slate-400 h-fit mt-5">
                    <div class="flex justify-between w-full h-10 p-6 mx-3 my-auto">
                        <h2 class="font-serif text-3xl">LAPTOPS</h2>
                        <button class="mr-10 text-blue-600" (click)="navigateToLaptop()">Show more ></button>
                    </div>
                    <div class="flex flex-wrap items-stretch justify-start w-full gap-5 p-5 mx-10 h-fit">
                        <div *ngFor="let product of laptop; let i = index">
                            <div class="product-card" *ngIf="i < 4">
                                <div class="p-3 bg-white rounded-2xl">
                                    <img class="rounded-lg w-52 h-60" [src]="product.image" alt="{{ product.name }}">
                                    <div class="mt-2 text-center">
                                        {{ product.name }}<br>
                                        {{ product.price | currency:'INR' }}<br>
                                        <button
                                            class="w-full h-8 text-gray-700 bg-blue-600 rounded-lg hover:text-blue-600 hover:bg-gray-700"
                                            (click)="addToCart(product)">
                                            Add to Cart
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>
            </div>